@import './_mixins/_variables';

.dashboard {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  height: 100vh;
}

@media (min-width: 1025px) {
  .dashboard {
    height: 80vh;
    margin: 24px auto;
    width: 60%;
  }
}
